#app{
    font-family: 'Roboto', sans-serif;
    background: url("https://wallpaperaccess.com/full/1878506.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

/* Monster Images */
.monster {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.godzilla {   
    width: 200%;
    height: 400%;
}

.muto {   
    width: 77%;
    height: 200%;
}

/* Body */
.text-center {
    text-align: center;
    margin: auto;
    width: 100%;
    border: 3px outset green;
}

.healthbar {
    width: 100%;
    height: 40px;
    background-color: #eee;
    margin: auto;
    transition: width 500ms;
}

.controls, .log {
    background-color: #222831;
    margin-top: 30px;
    text-align: center;
    border-radius: 25px;
    padding : 30px;
}

.startGame{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.gameButton{
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.turn {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
}

.log ul {
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
}

.log ul li {
    margin: 5px;
}

.log ul .godzilla-turn {
    color: blue;
    background-color: #e4e8ff;
}

.log ul .muto-turn {
    color: rgb(255, 0, 0);
    background-color: #3d0606;
}

.log ul .healing-turn {
    color: green;
    background-color: lightgreen;
}

.log ul .special-turn {
    color: rgb(255, 0, 140);
    background-color: rgb(70, 9, 105);
}

button {
    font-size: 20px;
    background-color: #eee;
    padding: 12px;
    box-shadow: 0 1px 1px black;
    margin: 10px;
}

#start-game {
    background-color: #16a596;
}

#start-game:hover {
    background-color: #01c5c4;
}

#attack {
    background-color: #c70039;
}

#attack:hover {
    background-color: #ff3f43;
}

#special-attack {
    background-color: #e27802;
}

#special-attack:hover {
    background-color: #ff9a2b;
}

#heal {
    background-color: #61b15a;
}

#heal:hover {
    background-color: #76ff7e;
}

#give-up {
    background-color: #d49a89;
}

#give-up:hover {
    background-color: #557571;
}

.newButton {
    outline: none;
  user-select: none;
  font-size: 2.5rem;
  letter-spacing: 0.04rem;
  padding: 1.5rem 3rem;
  cursor: pointer;
  border-radius: .4rem;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 8px black;
}
.newButton::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    transform: scale(0);
    transition: transform $dur ease-in;
    mix-blend-mode: difference;
  }  

 .newButton:active {
    top: 3px;
    box-shadow: none;
  }

  .footer{
      text-align: center;
      background-color: #290149;
  }

